body {
  margin : 0;
  padding: 0;
  color: #333;
  background:rgba(230,224,199, 0.9);
  font-family: 'Railway', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: rgba(232,51,29,1);
}