/* Colors used */
/* Jersey Colors */
$jerseyRed:rgba(232,51,29, 0.9);
$jerseyBlue:rgb(129,195,222);
$jerseyGreen:rgb(36,115,75);
$jerseyYellow:rgb(247,245,64);
$navLinks:rgba(252, 228, 72, .7);

$mainColor: #cec591;
$navYellow:rgba(252, 228, 72, 0.7);
/* Fonts */
$textFont:'Railway', sans-serif; 
$headingFont:'Dancing Script', cursive;
/* font-family: 'Josefin Sans', Helvetica, Arial, sans-serif; */