<section id="rules">
  <div class="container bottom">
    <h3>Rules of the Road</h3>

    <p>
      The chance of a crash increases in a group ride. This is especially true if riders are inexperienced and are not familiar
      with established “Rules of the Road”.

    </p>

    <p>
      We have come up with some "rules of the road”. While one might choose to take risks when riding alone, we would ask that
      our rules be followed when riding in our group.

    </p>
    <p>
      These are both safety and courtesy guidelines we would appreciate you following when riding in our group.

    </p>
    <ol>
      <li> Helmets are required, rear view mirrors are suggested (we like the mirror by Bike Peddler, Take-A-Look Mirror. It can
        be purchased here. Make sure to select "Original" size.)</li>

      <li> Be on time, we start at the designated time.</li>

      <li> If you see or hear a vehicle approaching, announce “car back” to the others.</li>

      <li> On the bike path announce approaching riders with “Rider up”.</li>

      <li> We all like to converse while riding, but when a vehicle approaches from the rear riders will form a single file.</li>

      <li> When there are riders close behind you point out road hazards such as debris, pot holes, parked cars with people who
        may exit or tree or brush branches.</li>

      <li> We will wait for approximately 5-10 minutes at each rest stop for slower riders to catch up. An exception to this will
        be made when the "Rear Brigade" has three or more riders in which case the front group may proceed at their own pace.</li>

      <li> Carry a cell phone with the phone numbers of the other riders. If you have a mechanical problem call one of the other
        riders in the group. We will come back to assist you.</li>

      <li> Carry enough equipment to repair a flat tire. If you want help with a flat just ask.</li>

      <li> Slow down when approaching intersections. If there is traffic in the intersection and you will have to stop, signal
        to the riders behind you with a flat open hand extended down and back. When an intersection is clear to proceed move
        forward and announce to those behind you “clear”.</li>

      <li> Signal turns by pointing to the left or right before making the turn.</li>

      <li> Pass other riders on the left. Look behind you before passing for bikes who may be attempting to pass you or approaching
        vehicles.
      </li>

      <li> When approaching other riders or walkers on the bike path, announce your approach with “on your left” then pass on
        the left.</li>

      <li> When you need to blow your nose, cough or spit, be considerate of those beside and behind you. Move to the leeward
        side of the pack or, better yet, to the back of the group before blowing your nose, coughing or spitting. Remember,
        when riding 15 to 25 mph everything you eject goes backwards quickly enough and far enough to land on fellow riders
        a considerable distance behind you.</li>
    </ol>
    <a class="center" href="index.html">Back to Top</a>
  </div>
</section>