<section id="about" class="container bottom">
  <h3>This page is continuously updated.Please check it again in the future. Very important please read the page
    <a href=#rules>Rules of the Road.</a>
  </h3>

  <p>Our Purpose: Camaraderie and friendship are a main goal while at the same time providing excellent exercise and less use
    of our cars. We provide good bicycle rides starting in the Oak View/Ojai area with no need for a car to reach the starting
    point. [In the hot summer days we may start and complete the ride near the cool ocean!] </p>

  <p>To Join US: If you can ride 25 miles at an average pace of about 13 mph or higher, you can probably ride comfortably with
    us. For slower riders, see the
    <a href="#">"Rear Brigade"</a> page. Our normal starting points are from Oak View and Ojai. These are shown on the map on this link.
    In the summertime when it is hot in Ojai we go cycling near the ocean from different starting points. If you wish to
    receive more information or to be on our E-mail list, please get in touch with the webmaster on this link. All rides
    are described on this page in detail. If you have any questions or concerns please send your questions to this email
    address. On the regular rides we take three short rest stops on the ride: one by Lake Casitas, another in Foster Park
    and the last at Camp Comfort. All stops have a bathroom and drinking water. This road route combines uphill, downhill
    and flat roads to provide excellent exercise and beautiful scenery. At each of the three rest stops the lead riders of
    each group usually wait for the slower riders of the group to arrive before continuing the ride.</p>

  <p class="bottom">Our History: For a brief history of the group, please click on this
    <a href="<history />">link</a>.</p>
  <a class="center" href="index.html">Back to Top</a>
</section>