<section id="weather">
  <div class="container bottom">
    <div>
      <p>
        The following are the links to the hourly weather reports from the weather channel (for Ojai and Ventura.) In general we
        will start from Ojai unless the hourly weather report in Ojai shows the "TEMP" or the "FEELS" going over 90º F between
        9AM and noon.

      </p>
      <p>
        Click on the Dark Sky link in the table below to find the hourly weather forecast or the radar map. This site also shows
        wind speed etc.
      </p>
    </div>
    <div class="weather-widgets bottom">

      <div class="weather-section">
        <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=34.4480&lon=-119.2429&name=Ojai, Ca&color=#00aaff&font=Raleway&units=us">°
        </iframe>
        <a class="link" href="https://darksky.net/34.448,-119.2429" target="_blank"></a>
      </div>

      <div class="weather-section">
        <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=34.2746&lon=-119.2290&name=Ventura, Ca&color=#00aaff&font=Raleway&units=us">
        </iframe>
        <a class="link" href="https://darksky.net/34.2746,-119.229" target="_blank"></a>
      </div>

    </div>
    <a class="center" href="index.html">Back to Top</a>
  </div>
</section>