<section id="rides">
  <div class="container bottom">
    <h2>Our Rides</h2>
    <p>
      The main starting point for all these rides is at Vons parking lot in Ojai at 9:30 AM*. A map showing this location is
      <a href="http://ojaicyclists.fpemad.com/maps/Ojai%20%20---%20%20Oak%20View.gif">on this link</a>. If there is any change to the ride schedule below, all members of the group will be notified by Email.
      To get on the email list, or if you have any questions, please contact the Ojai Cyclists. A map and other interesting
      data about these rides is shown below after each ride (when available.)
    </p>
    <p>
      All rides have a sweeper who rides in the rear. The sweeper is considered the leader of the ride and helps (as needed) with
      problems which may develop on the ride --such as flats. Also, the ride leader may decide to change the ride route due
      to such reasons as road construction or simply to go on a different route.
    </p>

    <h3>Tuesday, Thursday and Sunday rides:</h3>
    <p>
      ride #1. The "usual" 23 mile ride. Sweeper is Ron, Charley or Roger. (
      <a href="http://connect.garmin.com/activity/97505141">See Garmin map and data</a>)
    </p>
    <p>

      ride #2. A slow ride on mostly flat and very scenic terrain around Ojai. 15.5 , 23 and 32 miles. You can choose your distance
      as we go. Sweeper is either Charlie or Fawzi. (See
      <a href="http://connect.garmin.com/activity/228619952">Garmin map and data</a>)

    </p>
    <h3>Special rides:</h3>
    <p>
      Special ride #1. Sometimes the sweeper (also considered the ride leader) may decide to change the ride as needed on special
      occasions. This special ride #1 avoids route 33 and Creek Road on the way back. It is 33.6 miles long and you can see
      a "Garmin map and data" by going to this
      <a target="_blank" href="http://connect.garmin.com/activity/186029751">link</a>.
    </p>
    <p>

      Special ride #2. This ride also avoids a return on route 33 and Creek road, total distance about 27 miles. Its Garmin Data
      and map are
      <a target="_blank" href="http://connect.garmin.com/activity/187722358">here</a>.
    </p>
    <a class="center" href="index.html">Back to Top</a>
  </div>
</section>